---
name: ci
on:
  pull_request:
    branches:
      - main
    types:
      - edited
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  list-changed-files:
    runs-on: "ubuntu-24.04"
    permissions:
      pull-requests: read
    outputs:
      changedFiles: ${{ steps.list-changed-files.outputs.result }}
    steps:
      - uses: actions/checkout@v6

      - name: List Changed Files
        id: list-changed-files
        uses: actions/github-script@v8
        with:
          script: |
            const response = await github.request(
              'GET /repos/{owner}/{repo}/pulls/{pull_number}/files',
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.payload.pull_request.number
              }
            );
            const files = response.data.map(file => file.filename);
            console.log(files)
            return { changedFiles: files };

  lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      statuses: write
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: lint code base
        uses: super-linter/super-linter/slim@v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false

  build-image:
    needs: [lint, list-changed-files]
    if: >-
      ${{(
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'Dockerfile'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'hashicorp.asc'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'ci.yaml'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'release.yaml'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'dependabot.yml'
        )
      )}}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            arch: amd64
          - platform: linux/arm64
            arch: arm64
    steps:
      - name: checkout branch
        uses: actions/checkout@v6

      - name: set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        id: builder
        uses: docker/setup-buildx-action@v3

        # export build locally until docker exporter supports manifests
      - name: build and cache
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.builder.outputs.name }}
          cache-to: type=gha,mode=max,scope=${{ matrix.arch }}
          context: .
          load: false
          outputs: type=local,dest=out-${{ matrix.arch }}
          platforms: ${{ matrix.platform }}
          provenance: true
          sbom: true
          tags: >-
            chaoscypher/minimal-terraform:0.0.${{
            github.event.pull_request.number }}-alpha-${{ matrix.arch }}

      - name: upload sboms
        uses: actions/upload-artifact@v6
        with:
          name: sbom-artifact-${{ matrix.arch }}
          path: out-${{ matrix.arch }}/*.json

      - name: build image from cache
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha,scope=${{ matrix.arch }}
          context: .
          load: true
          platforms: ${{ matrix.platform }}
          tags: >-
            chaoscypher/minimal-terraform:0.0.${{
            github.event.pull_request.number }}-alpha-${{ matrix.arch }}

      - name: export image
        run: >-
          docker save -o /tmp/images-${{ matrix.arch }}.tar
          chaoscypher/minimal-terraform:0.0.${{
          github.event.pull_request.number }}-alpha-${{ matrix.arch }}

      - name: upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: container-artifact-${{ matrix.arch }}
          path: /tmp/images-${{ matrix.arch }}.tar

  # jscpd:ignore-start
  scan-image:
    needs: [build-image]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        arch: [amd64, arm64]
    steps:
      - name: download artifact
        uses: actions/download-artifact@v7
        with:
          name: container-artifact-${{ matrix.arch }}
          path: .

      - name: cve scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          input: images-${{ matrix.arch }}.tar
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

  scan-sboms:
    needs: [build-image]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        arch: [amd64, arm64]
        sbom: [sbom-stage1.spdx.json, sbom-stage2.spdx.json, sbom.spdx.json]
    steps:
      - name: download sboms
        uses: actions/download-artifact@v7
        with:
          name: sbom-artifact-${{ matrix.arch }}
          path: .

      # in-toto predicate is a newer spec not widely support by sbom scanners
      # it's removed here to achieve compatability as of 05/10/23
      - name: trim ${{ matrix.sbom }} predicate data
        run: jq .predicate ${{ matrix.sbom }} > ${{ matrix.sbom }}.tmp

      - name: scan ${{ matrix.sbom }}
        uses: anchore/scan-action@v7
        id: scan-outputs
        with:
          add-cpes-if-none: true
          fail-build: false
          output-format: table
          sbom: ${{ matrix.sbom }}.tmp

  test-container:
    needs: [build-image]
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04
            arch: amd64
          - runner: ubuntu-24.04-arm
            arch: arm64
    steps:
      - name: download artifact
        uses: actions/download-artifact@v7
        with:
          name: container-artifact-${{ matrix.arch }}
          path: .
      # jscpd:ignore-end

      - name: load image
        run: docker load --input images-${{ matrix.arch }}.tar

      - name: check terraform version
        run: >-
          docker run chaoscypher/minimal-terraform:0.0.${{
          github.event.pull_request.number }}-alpha-${{ matrix.arch }}
          --version

  dependabot:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    needs: list-changed-files
    if: >-
      ${{
        github.actor == 'dependabot[bot]' && (
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'Dockerfile'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'hashicorp.asc'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'ci.yaml'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'release.yaml'
        )
        )
      }}
    steps:
      - name: Approve dependabot PR's that update GHA versions
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable auto-merge for Dependabot GHA PR's
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
