---
name: ci
on:
  pull_request:
    branches:
      - main
    types:
      - edited
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  list-changed-files:
    runs-on: "ubuntu-24.04"
    timeout-minutes: 5
    permissions:
      pull-requests: read
    outputs:
      changedFiles: ${{ steps.list-changed-files.outputs.result }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: List Changed Files
        id: list-changed-files
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const response = await github.request(
              'GET /repos/{owner}/{repo}/pulls/{pull_number}/files',
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.payload.pull_request.number
              }
            );
            const files = response.data.map(file => file.filename);
            console.log(files)
            return { changedFiles: files };

  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
      statuses: write
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: lint code base
        uses: super-linter/super-linter/slim@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e # v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false

  build-image:
    needs: [lint, list-changed-files]
    if: >-
      ${{(
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'Dockerfile'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'hashicorp.asc'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          '.github/workflows/ci.yaml'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          '.github/workflows/release.yaml'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          '.github/dependabot.yml'
        )
      )}}
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            arch: amd64
          - platform: linux/arm64
            arch: arm64
    steps:
      - name: checkout branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: set up docker buildx
        id: builder
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

        # export build locally until docker exporter supports manifests
      - name: build and cache
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          builder: ${{ steps.builder.outputs.name }}
          cache-to: type=gha,mode=max,scope=${{ matrix.arch }}
          context: .
          load: false
          outputs: type=local,dest=out-${{ matrix.arch }}
          platforms: ${{ matrix.platform }}
          provenance: true
          sbom: true
          tags: >-
            chaoscypher/minimal-terraform:0.0.${{
            github.event.pull_request.number }}-alpha-${{ matrix.arch }}

      - name: upload sboms
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: sbom-artifact-${{ matrix.arch }}
          path: out-${{ matrix.arch }}/*.json

      - name: build image from cache
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          cache-from: type=gha,scope=${{ matrix.arch }}
          context: .
          load: true
          platforms: ${{ matrix.platform }}
          tags: >-
            chaoscypher/minimal-terraform:0.0.${{
            github.event.pull_request.number }}-alpha-${{ matrix.arch }}

      - name: export image
        run: >-
          docker save -o /tmp/images-${{ matrix.arch }}.tar
          chaoscypher/minimal-terraform:0.0.${{
          github.event.pull_request.number }}-alpha-${{ matrix.arch }}

      - name: upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: container-artifact-${{ matrix.arch }}
          path: /tmp/images-${{ matrix.arch }}.tar

  # jscpd:ignore-start
  scan-image:
    needs: [build-image]
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
      security-events: write
    strategy:
      matrix:
        arch: [amd64, arm64]
    steps:
      - name: download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: container-artifact-${{ matrix.arch }}
          path: .

      - name: cve scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          input: images-${{ matrix.arch }}.tar
          format: "sarif"
          output: "trivy-results-${{ matrix.arch }}.sarif"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results
        if: always()
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v3
        with:
          sarif_file: "trivy-results-${{ matrix.arch }}.sarif"

  scan-sboms:
    needs: [build-image]
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      matrix:
        arch: [amd64, arm64]
        sbom: [sbom-stage1.spdx.json, sbom-stage2.spdx.json, sbom.spdx.json]
    steps:
      - name: download sboms
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: sbom-artifact-${{ matrix.arch }}
          path: .

      # in-toto predicate is a newer spec not widely support by sbom scanners
      # it's removed here to achieve compatibility as of 05/10/23
      - name: trim ${{ matrix.sbom }} predicate data
        run: jq .predicate ${{ matrix.sbom }} > ${{ matrix.sbom }}.tmp

      - name: scan ${{ matrix.sbom }}
        uses: anchore/scan-action@8d2fce09422cd6037e577f4130e9b925e9a37175 # v7
        id: scan-outputs
        with:
          add-cpes-if-none: true
          only-fixed: true
          output-format: table
          sbom: ${{ matrix.sbom }}.tmp

  test-container:
    needs: [build-image]
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 5
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04
            arch: amd64
          - runner: ubuntu-24.04-arm
            arch: arm64
    steps:
      - name: download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: container-artifact-${{ matrix.arch }}
          path: .
      # jscpd:ignore-end

      - name: load image
        run: docker load --input images-${{ matrix.arch }}.tar

      - name: check terraform version
        run: >-
          docker run chaoscypher/minimal-terraform:0.0.${{
          github.event.pull_request.number }}-alpha-${{ matrix.arch }}
          --version

  dependabot:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    needs: [list-changed-files, scan-image, scan-sboms, test-container]
    if: >-
      ${{
        github.actor == 'dependabot[bot]' && (
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'Dockerfile'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          'hashicorp.asc'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          '.github/workflows/ci.yaml'
        ) ||
        contains(
          needs.list-changed-files.outputs.changedFiles,
          '.github/workflows/release.yaml'
        )
        )
      }}
    steps:
      - name: Approve dependabot PR's that update GHA versions
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable auto-merge for Dependabot GHA PR's
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
