---
name: build and release
on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - Dockerfile
      - hashicorp.asc
      - ci.yaml
      - release.yaml

permissions:
  contents: write
  issues: read
  pull-requests: read

jobs:
  auto-semver-release:
    if: github.event.pull_request.merged
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.increment-version.outputs.result }}
      major-version: ${{ steps.increment-version.outputs.major-version }}
      minor-version: ${{ steps.increment-version.outputs.minor-version }}
      patch-version: ${{ steps.increment-version.outputs.patch-version }}
    steps:
      - name: increment version
        id: increment-version
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            let latestReleaseVersion = '';

            try {
              const getLatestReleaseParams = {
                owner: context.repo.owner,
                repo: context.repo.repo
              };
              console.log("call repos.getLatestRelease:", getLatestReleaseParams);
              const latestRelease = await github.rest.repos.getLatestRelease(getLatestReleaseParams);
              latestReleaseVersion = latestRelease.data.tag_name;
            } catch (e) {
              if (e.status === 404) {
                latestReleaseVersion = '0.0.0';
              } else {
                throw e;
              }
            }

            const listPullRequestsAssociatedWithCommitParams = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: '${{ github.sha }}',
            };
            console.log("call repos.listPullRequestsAssociatedWithCommit:", listPullRequestsAssociatedWithCommitParams);
            const pulls = await github.paginate(
              github.rest.repos.listPullRequestsAssociatedWithCommit,
              listPullRequestsAssociatedWithCommitParams
            );
            const labels = pulls.flatMap(p => p.labels.map(l => l.name));
            const tagNames = latestReleaseVersion.split('.');
            let version = [];

            if (labels.includes('major release')) {
              version = [Number(tagNames[0]) + 1, 0, 0];
            } else if (labels.includes('minor release')) {
              version = [tagNames[0], Number(tagNames[1]) + 1, 0];
            } else {
              version = [tagNames[0], tagNames[1], Number(tagNames[2]) + 1];
            }
            
            core.setOutput('major-version', version[0])
            core.setOutput('minor-version', version[1])
            core.setOutput('patch-version', version[2])
            
            return version.join('.');
            
      - name: create release
        uses: actions/github-script@v7
        env:
          GITHUB_REF: ${{env.GITHUB_REF}}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const createReleaseParams = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: '${{ steps.increment-version.outputs.result }}',
              target_commitish: process.env['GITHUB_REF'],
              generate_release_notes: true
            };
            console.log("call repos.createRelease:", createReleaseParams);
            await github.rest.repos.createRelease(createReleaseParams);
            
  publish-image:
    if: github.event.pull_request.merged
    runs-on: ubuntu-22.04
    needs: [auto-semver-release]
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: log in to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha
          tags: |
            chaoscypher/minimal-terraform:latest
            chaoscypher/minimal-terraform:${{ needs.auto-semver-release.outputs.version }}
            chaoscypher/minimal-terraform:${{ needs.auto-semver-release.outputs.major-version }}

  publish-sbom:
    runs-on: ubuntu-22.04
    needs: [publish-image,auto-semver-release]
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: publish sbom
        uses: anchore/sbom-action@v0
        with:
          artifact-name: sbom.spdx
          image: chaoscypher/minimal-terraform:${{ needs.auto-semver-release.outputs.version }}
          output-file: sbom.json
          format: spdx-json
          upload-release-assets: true
