---
name: build and release
on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - Dockerfile
      - hashicorp.asc
      - .github/workflows/ci.yaml
      - .github/workflows/release.yaml

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  auto-semver-release:
    permissions:
      contents: write
      pull-requests: read
    if: github.event.pull_request.merged
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    outputs:
      version: ${{ steps.increment-version.outputs.result }}
      major-version: ${{ steps.increment-version.outputs.major-version }}
      minor-version: ${{ steps.increment-version.outputs.minor-version }}
      patch-version: ${{ steps.increment-version.outputs.patch-version }}
    steps:
      - name: increment version
        id: increment-version
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            let latestReleaseVersion = '';

            try {
              const getLatestReleaseParams = {
                owner: context.repo.owner,
                repo: context.repo.repo
              };
              console.log(
                "call repos.getLatestRelease:",
                getLatestReleaseParams
              );
              const latestRelease = await github.rest.repos
                .getLatestRelease(getLatestReleaseParams);
              latestReleaseVersion = latestRelease.data.tag_name;
            } catch (e) {
              if (e.status === 404) {
                latestReleaseVersion = '0.0.0';
              } else {
                throw e;
              }
            }

            const listPRsParams = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: '${{ github.sha }}',
            };
            console.log(
              "call repos.listPullRequestsAssociatedWithCommit:",
              listPRsParams
            );
            const pulls = await github.paginate(
              github.rest.repos.listPullRequestsAssociatedWithCommit,
              listPRsParams
            );
            const labels = pulls.flatMap(p => p.labels.map(l => l.name));
            const tagNames = latestReleaseVersion.split('.');
            let version = [];

            if (labels.includes('major release')) {
              version = [Number(tagNames[0]) + 1, 0, 0];
            } else if (labels.includes('minor release')) {
              version = [tagNames[0], Number(tagNames[1]) + 1, 0];
            } else {
              version = [tagNames[0], tagNames[1], Number(tagNames[2]) + 1];
            }

            core.setOutput('major-version', version[0])
            core.setOutput('minor-version', version[1])
            core.setOutput('patch-version', version[2])

            return version.join('.');

      - name: create release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          GITHUB_REF: ${{env.GITHUB_REF}}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const createReleaseParams = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: '${{ steps.increment-version.outputs.result }}',
              target_commitish: process.env['GITHUB_REF'],
              generate_release_notes: true
            };
            console.log(
              "call repos.createRelease:",
              createReleaseParams
            );
            await github.rest.repos.createRelease(createReleaseParams);

  publish-image:
    if: github.event.pull_request.merged
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    needs: [auto-semver-release]
    permissions:
      contents: read
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: set up docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: log in to dockerhub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push multi-arch image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        env:
          VER: ${{ needs.auto-semver-release.outputs.version }}
          MAJ: ${{ needs.auto-semver-release.outputs.major-version }}
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: |
            type=gha,scope=amd64
            type=gha,scope=arm64
          tags: |
            chaoscypher/minimal-terraform:latest
            chaoscypher/minimal-terraform:${{ env.VER }}
            chaoscypher/minimal-terraform:${{ env.MAJ }}

  publish-sbom:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    needs: [publish-image, auto-semver-release]
    permissions:
      contents: write
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: publish sbom
        uses: anchore/sbom-action@deef08a0db64bfad603422135db61477b16cef56 # v0
        with:
          artifact-name: sbom.spdx
          image: >-
            chaoscypher/minimal-terraform:${{
            needs.auto-semver-release.outputs.version }}
          output-file: sbom.json
          format: spdx-json
          upload-release-assets: true
